.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 0 25px;
  border-radius: 5px;
  border: 2px solid #000000;
  cursor: pointer;

  &:hover {
    background-color: #ef7998;
    border-color: #ef7998;
  }
}

.cart__icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
